#cs1300-gallery {
  background-color: paleturquoise;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
*/

img {
width: 33%;
width: 20rem;

}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-items: end;
}

#cs1300-gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}